<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <title>Express Dev Skills</title>
</head>
<body>
  <h1>Dev-Skills as of <%= date %></h1>
  <ul>
    <% devskills.forEach(devskill => { %>
      <li>
        <form
          action="/devskills/<%= devskill._id%>?_method=DELETE"
          method="POST"
          class="delete-form"
        >
          <button class="delete-button" type="submit">X</button>
        </form>
        <a href="/devskills/<%= devskill._id%>/edit"><button class="edit-button">✏️</button></a>
        <a href="/devskills/<%= devskill._id %>"><%= devskill.text %></a>
        - 
        <%= devskill.done ? 'done' : 'not done'%>
      </li>
      <% }) %>
  </ul>
  <a href="/">Back</a><br>
  <a href="/devskills/new">Add Skill</a> 
</body>
</html>